version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pss
      POSTGRES_DB: prueba
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./app/db/postgres:/docker-entrypoint-initdb.d   # <-- Ejecuta todos los .sql al iniciar

# pgAdmin (gestor visual de PostgreSQL). OPCIONAL
# Esto levantará pgAdmin en http://localhost:8080
# Usuario: admin@admin.com
# Contraseña: admin123

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8080:80"
    volumes:
      - pgadmindata:/var/lib/pgadmin

volumes:
  pgdata:
  pgadmindata: